.sectionTwo {
    background-color: #04768a8e; /* Change color as needed */
    height: auto;
}

.sectionTwoContent {
    padding: 1rem;
}

.sectionTwoContent h1 {
    font-size: 1.3rem;
    color: rgba(232, 240, 241, 0.877);
    font-family: 'El Messiri', sans-serif;
    text-align: center;
    padding: .5rem 0;
    font-weight: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.sectionTwoContent h2 {
    color: white;
    font-size: 2rem;
    text-align: center;
}

.sectionTwoContent h3 {
    font-size: .8rem;
    text-align: center;
    color: white;
    font-weight: normal;
    padding: .5rem;
}


.sectionTwoIcons {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}


.sectionTwoIcon h2 {
    font-size: 3rem;
}



.sectionTwoIcons {
    flex-wrap: wrap;
}
    


@media screen and (max-width:600px) {
    .sectionTwoIcon {
        width: max-content;
    }
    
}