@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

.locumTenensSection {
  padding: 3rem 0;
}

.locumTenensSectionHeader {
  padding: 0 1rem;
}
.locumTenensSectionContent {
  padding: 2rem 1rem;
}

.locumTenensSectionHeader p {
  text-align: justify;
  font-size: 15px;
}

.locumTenensSectionHeader h1 {
  color: rgba(23, 102, 121, 0.877);
  font-family: 'El Messiri', sans-serif;
  text-align: left;
  padding: .5rem 0;
  font-weight: normal;
}

.locumTenensSectionFlex {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.locumTenensSectionLeft {
  width: 100%;
  margin: auto;
}

.locumTenensSectionRight {
  width: 100%;
  margin: auto;
  background-repeat: no-repeat;
}

.locumTenensSectionRight img {
  width: 100%;
  border-radius: 10px;
}

.locumTenensSectionLeft h1 {
  color: rgb(4, 66, 117);
  font-weight: normal;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  padding: .5rem 0;
}

.locumTenensSectionLeft p {
  text-align: justify;
  line-height: normal
}

.locumTenensSectionLeft ul {
  list-style-type: disc;
  padding: 0 1rem;
}

.locumTenensSectionFooter {
  padding: 1rem;
}

.locumTenensSectionFooter h1 {
  color: rgb(4, 66, 117);
  font-weight: normal;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  padding: .5rem 0;
}

.locumTenensSectionFooter ul {
  padding: 0 1rem;
}

.locumTenensSectionFooter ul li{
  padding: 0 .5rem;
  list-style-type: disc;
  text-align: left 
}


/* MEDIA QUERIES */

@media screen and (max-width:900px) {
  .locumTenensSectionFlex {
    flex-wrap: wrap-reverse;
  }

  .locumTenensSectionLeft {
    width: 100%;
  }
  
  .locumTenensSectionRight {
    width: 100%;
  }
}


