@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

.respiratorySection {
  padding: 3rem 0;
}

.respiratorySectionHeader {
  padding: 0 1rem;
}
.respiratorySectionContent {
  padding: 2rem 1rem;
}

.respiratorySectionHeader p {
  text-align: justify;
  font-size: 15px;
}

.respiratorySectionHeader h1 {
  color: rgba(23, 102, 121, 0.877);
  font-family: 'El Messiri', sans-serif;
  text-align: left;
  padding: .5rem 0;
  font-weight: normal;
}

.respiratorySectionFlex {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.respiratorySectionLeft {
  width: 100%;
  margin: auto 0;
}

.respiratorySectionRight {
  width: 100%;
  margin: auto;
  background-repeat: no-repeat;
}

.respiratorySectionRight img {
  width: 100%;
  border-radius: 10px;
}

.respiratorySectionLeft h1 {
  color: rgb(4, 66, 117);
  font-weight: normal;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  padding: .5rem 0;
}

.respiratorySectionLeft p {
  text-align: justify;
  line-height: normal
}

.respiratorySectionLeft ul {
  list-style-type: disc;
  padding: 0 1rem;
}

.respiratorySectionFooter {
  padding: 1rem;
}

.respiratorySectionFooter h1 {
  color: rgb(4, 66, 117);
  font-weight: normal;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  padding: .5rem 0;
}

.respiratorySectionFooter ul {
  padding: 0 1rem;
}

.respiratorySectionFooter ul li{
  padding: 0 .5rem;
  list-style-type: disc;
  text-align: left 
}


/* MEDIA QUERIES */

@media screen and (max-width:900px) {
  .respiratorySectionFlex {
    flex-wrap: wrap-reverse;
  }

  .respiratorySectionLeft {
    width: 100%;
  }
  
  .respiratorySectionRight {
    width: 100%;
  }
}


